rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Catch-all safety net
    match /{document=**} {
      allow read, write: if false;
    }

    // Rules for warga collection
    match /warga/{wargaId} {
      allow read, write: if true;
    }

    // Rules for transactions collection
    match /transactions/{transactionId} {
      allow read, write: if true;
    }
  }
}
